<?php
namespace Clippy;
require_once __DIR__ . '/../vendor/autoload.php';

// Usage: php two.php.example Bob

$c = clippy()->register(plugins());

$c['app']->main('host', function ($host, $io, Credentials $cred) {
  $pass = $cred->get('PASSWORD', $host);
  $io->writeln("We should connect to <comment>$host</comment> with password <comment>$pass</comment>!");
});
