<?php
namespace Clippy;
require_once __DIR__ . '/../vendor/autoload.php';

// Usage: php two.php.example Bob

$c = clippy()->register(plugins());

$c['name'] = function($io){
  return $io->ask('What is your name?');
};
$c['app']->main('', function ($name, $io) {
  $io->writeln("Hello, <comment>$name</comment>!");
});
